/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    height: 100vh;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    background-color: #fff;
}

.profile-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-card {
    width: 80%;
    background-color: #fff;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-header {
    display: flex;
    align-items: center;
    width: 100%;
}

.profile-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
}

.profile-details {
    flex-grow: 1;
}

.profile-details h2 {
    margin: 0;
    font-size: 22px;
    font-weight: bold;
}

.profile-details p {
    margin: 4px 0;
    font-size: 14px;
    color: #666;
}

.edit-btn {
    background-color: #EEF5F9;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: #333;
    font-size: 14px;
    margin-bottom: 15px; /* Add bottom margin for more space between button and text */
}

.edit-btn i {
    margin-right: 5px;
}

.info-section {
    width: 80%;
    margin-top: 30px;
}

.info-block {
    background-color: #fff;
    border-radius: 15px;
    padding: 30px;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.info-block h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.info-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.info-item label {
    font-size: 13px;
    color: #888;
}

.info-item p {
    font-size: 15px;
    font-weight: bold;
    margin-top: 5px;
}
